{% extends "base.html" %}
{% block content %}
<h3 class="center-align white-text">Add New recipe</h3>

<div class="row">
<form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('add_recipe') }}">
    <div class="card-panel">
        <!--Recipe Name-->
        <div class="row">
            <div class="input-field col s12">
                <input id="recipe_name" name="recipe_name" type="text" class="validate" maxlength="50" required />
                <label for="recipe_name">Recipe Name</label>
            </div>
        </div>
            <!--Recipe Category-->
            <div class="row">
                <div class="input-field col s12">
                  <select id="category_name" name="category_name" class="validate" required >
                    <option value="" disabled selected ></option>
                    {% for category in categories %}
                    <option value="{{category.category_name}}">{{category.category_name}}</option>
                   {% endfor %}
                  </select>
                  <label for="category_name">Meal Category</label>
                </div>
              </div>   
        <div class="row">
            <div class="input-field col s12">
                <input id="recipe_ingredients" name="recipe_ingredients" type="text" class="validate" maxlength="50" required />
                <label for="recipe_ingredients">Ingredients</label>
            </div>
        </div>   
        <div class="row">
            <div class="input-field col s12">
                <input id="recipe_instructions" name="recipe_instructions" type="text" class="validate" maxlength="50" required />
                <label for="recipe_instructions">Instructions</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="image_url" name="image_url" type="text" class="validate" maxlength="50" required />
                <label for="image_url">Image Url</label>
            </div>
        </div>
         <!--submit button-->
         <div class="row">
            <div class="col s12">
                <button id="submit-recipe" class="btn-small purple accent-4center " type="submit">
                    Submit Recipe
                </button>
                    <a href="{{ url_for('back')}}" class="btn-small dark-blue right ">Back</a>
               
            </div>
         </div>
         
    </form>

</div>


{% endblock %}