{% extends "base.html" %}
{% block content %}

{% if session.user %}

<h3 class="center-align white-text">Edit Meal</h3>
<div class="row card-panel cream lighten-3">
  <form class="col s12" method="POST" action="{{ url_for('edit_meal', meal_id=meal._id) }}">
    <!-- due date picker -->
    <div class="row">
      <div class="input-field col s12">
        <i class="fas fa-calendar-alt prefix"></i>
        <input id="due_date" name="due_date" type="text" class="datepicker validate " value="{{ meal.due_date}}"
          required>
        <label for="due_date">Due Date</label>
      </div>
    </div>
    <!-- meal category selection -->
    <div class="row">
      <div class="input-field col s12">
        <i class="fas fa-folder-open prefix"></i>
        <select id="category_name" name="category_name" class="validate" required>
          <option value="" disabled class="grey">Choose category</option>
          {% for category in categories %}
          {% if category.category_name == meal.category_name %}
          <option value="{{category.category_name}}" selected>{{category.category_name}}</option>
          {% else %}
          <option value="{{category.category_name}}">{{category.category_name}}</option>
          {% endif %}
          {% endfor %}
        </select>
        <label for="category_name">Meal Category</label>
      </div>
    </div>
    <!-- Meal name -->
    <div class="row">
      <div class="input-field col s12">
        <i class="fas prefix fa-folder"></i>
        <textarea id="name" name="name" maxlength="50" class="materialize-textarea validate">{{meal.name}}</textarea>
        <label for="name">Meal Name</label>
      </div>
    </div>

    <!-- meal notes -->
    <div class="row">
      <div class="input-field col s12">
        <i class="fas fa-align-left prefix"></i>
        <textarea id="meal_notes" name="meal_notes" minlength="5" maxlength="200"
          class="materialize-textarea validate">{{meal.meal_notes}}</textarea>
        <label for="meal_notes">Meal Notes</label>
      </div>
    </div>

    <!-- is shopping required -->
    <div class="row">
      <div class="input-field col s12">
        <div class="switch">
          <i class="fas fa-exclamation-circle-small left prefix"></i>
          <label for="is_shopping_required">
            {% if meal.is_shopping_required == "on" %}
            <input type="checkbox" id="is_shopping_required" name="is_shopping_required" checked>
            {% else %}
            <input type="checkbox" id="is_shopping_required" name="is_shopping_required">
            {% endif %}
            <span class="lever"></span>
            Is Shopping required
          </label>
        </div>
      </div>
    </div>
    <!-- submit button -->
    <div class="row">
      <div class="col s12 center-align">
        <!--cancel button-->
        <a href="{{url_for('all_meals')}}" class="btn-small red text-shadow ">
          Cancel <i class="fas fa-times-circle right"></i></a>
        <!--Edit button-->
        <button type="submit" class="btn-small grey darken-4 text-shadow">
          Edit <i class="fas fa-pencil right"></i>
        </button>
      </div>
    </div>
  </form>
</div>
{% endif %}
{% endblock %}