{% extends "base.html" %}
{% block content %}


<h3 class="center-align white-text">Recipes</h3>
<div>
    {% if session.user %}
    <a href="{{ url_for('add_recipe', recipes=recipes)}}" class="btn-small purple accent-4 center-align">Add New recipe</a>
    {% endif %}
</div>

<div class="row">
    {% for recipe in recipes %}
    <div class="col s12 m4 ">
        <div class="card grey lighten-3">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="{{ url_for('static', filename='images/sandwiches.jpg') }}">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">{{recipe.category_name}}<i
                        class="fas fa-plus-square right"></i></span>
                        {% if session.user %}
                        <a href="{{url_for('delete_recipe', recipe_id=recipe._id)}}" class="btn-small red center ">Delete</a>    
                        {% endif %}
                    </div>
            <div class="card-reveal">
                <span class="card-title red-text text-darken-4">{{recipe.recipe_name}}<i
                        class="fas fa-minus-square right"></i></span>  
                <p>Ingredients:{{recipe.ingredients}}</p>
                <p>Instructions:{{recipe.instructions}}</p>
                <p>Calories:{{recipe.calories}}</p>
                <p>Cooking time:{{recipe.cooking_time}}</p>
                {% if session.user %}
                <a href="{{url_for('edit_recipe', recipe_id=recipe._id)}}" class="btn-small blue center ">Edit</a>    
                {% endif %}
            </div>

        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}